/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}






/* MY CODE - PHONE*/

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.bottom {
  width : 100%;
}

nav {
  background-color: #7EB7D9;
  height: 100px;
  width: 100%;
}

ul {
  margin:0;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  color: #000;
  display: block;
  padding: 40px 10px;
  width: 100%;
  text-align: center;
}

ul li a:hover{
  color: #eee;
}

.img-me{
  width:200px;
  height: 200px;
  background-size: 100%;
  background-image: url(img/me.jpg);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.hi{
  font-family: arial;
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
  color: #000;
}
.intro{
  padding: 0px 30px 30px 0px;
  font-family: arial;
  font-weight: 200;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  width: 100%;
}




/*ABOUT PAGE*/

.about-head {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: arial;
  font-weight: 800;
}

.about-intro h1 {
  text-align: center;
  padding: 15px 0px;
  font-family: arial;
  font-size: 21px;
}
.about-intro p {
  font-family: arial;
  padding: 0px 15px;
  line-height: 30px
}

.skills {
  padding: 0px 15px;
  font-family: arial;

}
.skills h2 {
  text-align: center;
  padding: 25px 0px 0px;
  font-size: 20px;
}
.skills h3 {
  font-size: 20px;
  padding: 10px;
}
.skills p {
  padding: 5px;
}

.education {
  padding: 0px 15px;
  font-family: arial;

}
.education h2 {
  text-align: center;
  padding: 25px 0px 0px;
  font-size: 20px;
}
.education h3 {
  font-size: 20px;
  padding: 10px;
}
.education p {
  padding: 5px;
}

.img-python {
  display: none;
}

/*CONTACT PAGE*/
p.gmail{
  text-align: center;
}
p.number{
  text-align: center;
}

.gmail-img{
  width:100px;
  height: 60px;
  background-size: 100%;
  background-image: url(img/gmail.jpeg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-repeat: no-repeat;
}
.phone-img{
  width:100px;
  height: 60px;
  background-size: 100%;
  background-image: url(img/phone.jpeg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-repeat: no-repeat;
}
.linkedin-img{
  width:100px;
  height: 60px;
  background-size: 100%;
  background-image: url(img/linkedin.jpeg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-repeat: no-repeat;
}
.github-img{
  width:100px;
  height: 100px;
  background-size: 100%;
  background-image: url(img/github.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-repeat: no-repeat;
}



body {
  background-color: #eee;
}

/*Desktop*/

@media only screen and (min-width: 1000px) {

  .wrapper {
    width: 1000px;
    height: 575px;
    margin: 0 auto;
  }

  .intro {
    width: -60%;
    padding: 20px 0px 20px 0px;
    font-size: 45px;
  }

  .hi{
    text-align: left;
    padding: 150px 0px 0px 30px;
  }

  .img-me{
    width: 40%;
    height: 375px;
    float: left;
    margin-top: 100px;
  }


/*ABOUT PAGE*/
  .skills p{
    width: 65%;
    line-height: 22px;
  }

  .education p{
    width: 65%;
    line-height: 22px;
  }

  .img-python {
    height: 100px;
    background-size: 100%;
    background-image: url(img/python.png);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-repeat: no-repeat;
  }

  .img-java{
    background-image: url(img/java.jpeg);
  }


}
